.navbar-brand {
  color: deeppink;
  text-transform: uppercase;
  font-family: 'merriweather sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

nav {
  position: absolute;
  background-color: black;
  width: 100%;
  left: 0%;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

/*Global styles */
p {
  font-family: 'open sans', sans-serif;
}

h1 {
  font-family: 'merriweather sans', sans-serif;
  color: deeppink;
  font-weight: bold;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: 'merriweather sans', sans-serif;

  color: deeppink;
}

#cover-text {
  /* Final rgba sets opacity */
  background-color: rgba(248, 229, 232, 0.8);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

#about {
  text-align: right;
  margin: 40px 20px;
  padding: 30px 40px;
  background-color: #fae1e7; /* light pink */
  border-radius: 16px;
}

#guide {
  text-align: left;
  margin: 100px 20px;
  padding: 30px 40px;
  background-color: #fae1e7; /* light pink */
  border-radius: 16px;
}

#guide p {
  font-family: 'open sans', sans-serif;
}

#guide h2 {
  align-self: flex-start;
}

#guide .guide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#circle-cover-bg {
  background: url('../images/guide.png') no-repeat top center / cover;
  height: 90vw;
  width: 90vw;
  margin-bottom: 20px;
  /* Makes the square image into a circle */
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

#contact {
  background-color: #fae1e7; /* light pink */
  border-radius: 16px;
  padding: 30px 40px;
  margin: 40px 20px;
}

#about h2,
#about .welcome p {
  justify-content: flex-end;
  text-align: right;
}

#resources .card {
  margin-bottom: 1.5rem;
  border: none;
  box-shadow: 0 2px 2px #3a3a3a;
  height: 100%;
  min-height: 420px; /* Adjust as needed for your content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#resources .card-img-top {
  height: 180px; /* Adjust as needed */
  object-fit: cover;
}

#resources a {
  text-decoration: none;
  color: deeppink;
}

#resources a:hover {
  color: pink;
}

.custom-button-outline {
  border: 3px solid deeppink;
  padding: 7px 25px;
  color: deeppink;
  margin-bottom: 15px;
}

.custom-button-outline:hover {
  background-color: pink;
  color: deeppink;
}

footer {
  background-color: #000 !important;
  margin-top: 450px;
}

.social-links i {
  color: deeppink;
  font-size: 1.9rem;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  margin-right: 15px;
}

.social-links i:hover {
  color: pink;
}
/* Hero section */
#hero {
  height: 600px;
  width: 100%;
  background: url('../images/heroimage2.png') no-repeat center center/cover;
  position: relative;
}

.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Media queries */
/* Fix navbar only on mobile */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar-brand {
    font-size: 0.75rem;
  }

  /* Make all service cards the same height for consistency */
  #resources .card-body {
    min-height: 191px;
  }
}
