.navbar-brand {
  color: deeppink;
  text-transform: uppercase;
  font-family: 'merriweather sans', sans-serif;
  font-weight: bold;
}

nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0%;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

/* Hero section */
#hero {
  height: 600px;
  width: 100%;
  background: url('../images/heroimage2.png') no-repeat center center/cover;
  position: relative;
}

/* Media queries */
/* Fix navbar only on mobile */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  /* Make all service cards the same height for consistency */
  #resources .card-body {
    min-height: 191px;
  }
}
